apiVersion: v1
kind: ConfigMap
metadata:
  name: resource-annotator-cm
  namespace: resource-annotator
data:
  config.yaml: |
    # Annotates all secrets in namespace test-ns with label app=test-app with matched-rule=amazing
    rules:
    - matchNamespace: test-ns
      matchKind: Secret
      matchLabels:
        app: test-app
      annotations:
        matched-rule: amazing-rule
