apiVersion: v1
kind: ConfigMap
metadata:
  name: resource-annotator-cm
  namespace: resource-annotator
data:
  config.yaml: |
    # Annotates all resources with resource-annotator.fehe.eu/rule='label-one' 
    label-one:
      annotation-A: one
      annotation-B: one
